* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #232321;
}

/*Burger Menu*/
.icon-1,.icon-2,.icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 32px;
    height: 3px;
    background-color: black;
    transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
}

.icon-1 {
    transform: translateY(-8px);
    animation-delay: 100ms;
}

.icon-3 {
    transform: translateY(8px);
    animation-delay: 250ms;
}

.hamburger-icon {
    position: fixed;
    height: 60px;
    width: 60px;
    top: 10%;
    left: 3%;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.2);

    &:hover {
      transform: scale(1.2);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
}

.icon-1.a {
    transform: rotate(40deg);
}

.icon-3.b {
    transform: rotate(-40deg);
}

.icon-2.c {
    opacity: 0;
}

.clear {
    clear: both;
}

header>nav {
  background-color: #1db954;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    z-index: 15;
    opacity: 0;
    transition: all 600ms cubic-bezier(.62, .04, .3, 1.56);
    transition-delay: 100ms;
    pointer-events: auto;
    font-size: 0px;
}

header>nav>ul {
    margin: 0;
    position: fixed;
    top: 20%;
    left: 20%;
    cursor: pointer;
}

header>nav>ul>li {
    list-style: none;
    color: black;
    line-height: 3;
    text-transform: uppercase;
    letter-spacing: 1vw;

    &:before {
      transform: scale(1.2);
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  }
}

header>nav>ul>li>a {
    text-decoration: none;
    color: black;
    z-index: 0;
}

nav.show {
    opacity: 0;
    animation: slideIn 0.6s cubic-bezier(.62, .04, .3, 1.56);
    animation-fill-mode: forwards;
    width: 50%;
    transform: scale(1);
    opacity: 1;
    font-size: 24px;
}


.dark-color {
    position: fixed;
    top: 0;
    left: 0;
    background: #c4a37c;
    height: 100%;
    width: 0%;
    transition: all 500ms cubic-bezier(.62, .04, .3, 1.8);
    transition-delay: 50ms;
    z-index: 14;
    opacity: 1;
}

.dark-color.slide {
    width: 50%;
    opacity: 1;
}

/* Fin du Menu Burger */

main>h1{
    font-size: 4vw;
    text-align: center;
    color: #1db954;
    margin-top: 3vh;
}

main>section:nth-of-type(1){
    margin-top: 10vh;
}

main>section>h2{
    text-align: center;
    color: #1db954;
    font-size: 3vw;
}

main>section>h3,main>h2{
    margin-left: 10%;
    color: #1db954;
    font-size: 2.5vw;
}

main>section:nth-of-type(1)>div{
    border: 5px solid black;
    box-shadow: 0 0 25px  #1db954;

    margin-left : 10vw;
    margin-right : 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;

    
    background-color: white;
    height: 90.64748201438849vh;
}

main>section:nth-of-type(1)>div>div{
    position: relative;
    top: 0;
    margin-left: 30%;
    z-index: 1;

    padding-top: 35px;
}

main>section:nth-of-type(1)>div>svg{
    width: 39.0625vw;
    height: 86.33093525179856vh;

    padding-top: 10vh;

    position : absolute;
    left : 32%;
    top : 48.5%;

    pointer-events : none;
    z-index: 0;
}

main>section>ul{
    color: #1db954;
    margin-left: 15%;
    margin-top: 2%;
    font-size: 1.65vw;
}

main>section>p, main>p{
    color: #1db954;
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-top: 2%;
    font-size: 1.5vw;
    text-align: justify;
}

main>section:nth-of-type(2)>div{
    border: 5px solid black;
    box-shadow: 0 0 25px  #1db954;

    margin-left : 10vw;
    margin-right : 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
    background-color: white;
}

main>section:nth-of-type(2)>div>div{
    position: relative;
    margin-top: 11%;
    margin-left: 15%;
    z-index: 1;
}

main>section:nth-of-type(2)>div>svg:nth-of-type(1){
    width: 200vh;
    height: 75vh;

    position : absolute;
    left : 5%;
    top : 214.5%;

    pointer-events : none;
    z-index: 0;
}

main>section:nth-of-type(2)>div>svg:nth-of-type(2){
    width: 25vh;
    height: 75vh;

    position : absolute;
    left : 75%;
    top : 200%;

    pointer-events : none;
    z-index: 0;
}

main>section:nth-of-type(2)>h2{
    margin-top: 0.5vh;
}

main>section:nth-of-type(3)>div{
    border: 5px solid black;
    box-shadow: 0 0 25px  #1db954;

    margin-left : 10vw;
    margin-right : 10vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    
    background-color: white;
}

main>section:nth-of-type(3)>div>div{
    position: relative;
    margin-left: 10%;
    z-index: 1;
}

main>section:nth-of-type(3)>div>svg:nth-of-type(1){
    width: 112vh;
    height: 75vh;

    position : absolute;
    left : 26%;
    top : 377%;

    pointer-events : none;
    z-index: 0;
}

main>section:nth-of-type(3)>div>svg:nth-of-type(2){
    width: 25vh;
    height: 75vh;

    position : absolute;
    left : 75%;
    top : 360%;

    pointer-events : none;
    z-index: 0;
}